@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --tile-size : 100px;
  --light-tile : #F0D8B6;
  --dark-tile : #B48764;
  --bg-color : #202020;
  --highlight : rgba(0,0,0,.1);
  --check : #FEEC48;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.App {
  display: grid;
  place-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 100%;
  grid-template-columns: auto 220px;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
 

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
