.moveslist {
    display: flex;
    flex-direction: row;
    color: var(--dark-tile  );
    flex: 1 1;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
    font-size: 1.1em;

}

.moves{
    flex-basis: 35%;
    padding-left: 15%;
    text-align: left;
    position: relative;
    padding-bottom: 5px;
}

.moves[data-number]:nth-child(odd)::before {
    content: attr(data-number);
    position: absolute;
    left: 0;
    opacity: 0.5;
}