.moveslist {
    display: flex;
    flex-direction: row;
    color: var(--dark-tile  );
    flex: 1 1;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
    font-size: 1.1em;
    padding: 0 0 0 0;
    
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

}
.moveslist::-webkit-scrollbar {
    display: none;
}
.moves{
    flex-basis: 35%;
    padding-left: 30px;
    text-align: left;
    position: relative;
    padding-bottom: 5px;
}

.moves[data-number]:nth-child(odd)::before {
    content: attr(data-number);
    position: absolute;
    left: 0;
    opacity: 0.5;
}